:root{
  --red: #780116;
  --beige: #F5F1DC;
}

body{
  margin: 0;
  font-family: "brother-1816-printed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3{
  font-family: Galada;
  font-style: normal;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 2.5em;
}

.over h2{
  color: var(--red);
}

.events h2{
  color: var(--beige);
}

h3{
  font-size: 2em;
}

/* nav */
nav {
    display: flex;
    align-items: center;
    padding: .5em 1em;
    max-width: 100%;
    background-color: var(--beige);
}

/* logo navigatie - footer */
nav a.logo, footer a.logo {
  display: inline-block; 
  height: 4em;
  width: 9em;
  background-image: url(/images/logo.svg);
  background-repeat: no-repeat;
}

/* hamburger menu */
#hamburger{
  display: none;
}

#hamburger:checked ~ .slidemenu {
  transform: translateX(0);
  display: block;
}

.hamburger {
  display: inline-block;
  position: absolute;
  right: 1em;
  top: 1.8em;
  width: 20px;
  height: 18px;
  cursor: pointer;
}

.hamburger span {
  background-color: var(--red);
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.hamburger span:nth-child(1) {
  top: 8px;
}

.hamburger span:nth-child(2) {
  top: 16px;
}

#hamburger:checked ~ .hamburger span:nth-child(1) {
  opacity: 0;
}

#hamburger:checked ~ .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  top: 6px;
}

#hamburger:checked ~ .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  top: 6px;
}

/* nav menu */

.slidemenu {
  background-color: var(--beige);
  transform: translateX(100%);
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 4em;
  left: 0;
  padding-top: 1em;
  transition: all 0.6s ease-in;
  z-index: 999;
}

.slidemenu div a {
  text-decoration: none;
  text-align: center;
  font-family: "brother-1816-printed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  color: var(--red);
}

.slidemenu .navLinks, .slidemenu .navButtons {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em 2em;
}

.slidemenu a:hover {
  color: orange;
}

/* hero */

.hero {
  margin: 1em;
}

a {
  text-decoration: none;
  color: var(--beige);
}

.navButtons .btn {
  color: var(--beige);
  padding: 0.2em;
}

.btn{
  border-radius: 20px;
  background-color: var(--red);
}

