:root{
  --red: #780116;
  --beige: #F5F1DC;
  --offblack: #102022;
}

body{
  margin: 0;
  font-family: "brother-1816-printed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3{
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 2.5em;
}

h3{
  font-size: 2em;
  text-align: center;
}

.over h2{
  color: var(--red);
}

.events h2{
  color: var(--beige);
}

/* nav */
nav {
  display: flex;
  align-items: center;
  padding: .5em 1em;
  max-width: 100%;
  background-color: var(--beige);
}

/* logo navigatie - footer */
nav a.logo, footer a.logo {
  display: inline-block; 
  height: 4em;
  width: 9em;
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
}

/* hamburger menu */
#hamburger{
  display: none;
}

#hamburger:checked ~ .slidemenu {
  transform: translateX(0);
  display: block;
}

.hamburger {
  display: inline-block;
  position: absolute;
  right: 1em;
  top: 1.8em;
  width: 20px;
  height: 18px;
  cursor: pointer;
}

.hamburger span {
  background-color: var(--red);
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.hamburger span:nth-child(1) {
  top: 8px;
}

.hamburger span:nth-child(2) {
  top: 16px;
}

#hamburger:checked ~ .hamburger span:nth-child(1) {
  opacity: 0;
}

#hamburger:checked ~ .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  top: 6px;
}

#hamburger:checked ~ .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  top: 6px;
}

/* nav menu */

.slidemenu {
  background-color: var(--beige);
  transform: translateX(100%);
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 4em;
  left: 0;
  padding-top: 1em;
  transition: all 0.6s ease-in;
  z-index: 999;
}

.slidemenu div a {
  text-decoration: none;
  text-align: center;
  font-family: "brother-1816-printed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  color: var(--red);
}

.slidemenu .navLinks, .slidemenu .navButtons {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em 2em;
}

.slidemenu a:hover {
  color: orange;
}

.slidemenu .navButtons a:hover {
  background-color: orange;
  color: var(--beige);
}

/* hero */
.hero, .events, .registreer {
  margin:1em;
  padding-bottom: 2em;
}

a {
  text-decoration: none;
}

.navbtn, .btn, .btnLight{
  align-self: center;
  text-align: center;
}

.navButtons .navBtn {
  background-color: var(--red);
  color: var(--beige);
  border-radius: 20px;
  padding: 0.2em 1em;
}

.btn, .btnLight{
  display: inline-block;
  border-radius: 20px;
  padding: 0.5em 1em;
  width: 95%;
}

.btn{
  background-color: var(--red);
  color: var(--beige);
}

.btnLight {
  background-color: transparent;
  color: var(--red);
  border: 2px solid var(--red);
}

.heroBtn{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hero p {
  padding-bottom: 1em;
}

/* over */
.over {
  background-color: var(--beige);
  padding:1em;
  padding-bottom: 2em;
  text-align: left;
}

.over img {
  width: 400px;
}

.over .imgSnacks {
  border: 2px solid var(--red);
}

/* events */
.events {
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}

.events article {
  background-color: var(--offblack);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

.events article .infoEvent {
  padding: 1em;
  text-align: left;
}

.events article .infoEvent h2 {
  line-height: 1;
}

.events article p {
  color: var(--beige);
}

.events article img {
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--offblack);
}

/* merch */
.merch{
  background-color: var(--beige);
  text-align: center;
  padding: 1em;
  margin-bottom: 2em;
}

/* registreer */
.registreer {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--red);
  border-radius: 30px;
  padding: 2em 1em;
  margin-bottom: 2em;
}

.registreer input {
  height: 32px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--red);
  margin-bottom: 2em;
}

/* footer */
footer{
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

}

footer a{
  color: var(--red);
  font-weight: bold;
}

footer .socials {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

footer .footerNav{
  display: flex;
  flex-direction: row;
  flex: 1fr 1fr;
  align-items: start;
  gap: 5em;
}

footer .footerLeft, footer .footerRight{
  display: flex;
  flex-direction: column;
  gap: 1em;
}


