:root{
  --red: #780116;
  --beige: #F5F1DC;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* nav */
nav {
    display: flex;
    align-items: center;
    padding: 1em 1.5em;
    max-width: 100%;
    background-color: var(--beige);
}

/* logo navigatie - footer */
nav a.logo, footer a.logo {
    display: inline-block; 
    height: 43px;
    width: 120px;
    background-image: url(/images/logo.svg);
    background-repeat: no-repeat;
    background-size: 150px 43px;

}

/* hamburger menu */
#hamburger{
    display: none;
}

#hamburger:checked ~ .slidemenu {
    transform: translateX(0);
    display: block;
}

.hamburger {
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 1.5em;
    width: 20px;
    height: 18px;
    cursor: pointer;
}

.hamburger span {
    background-color: var(--red);
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    cursor: pointer;
    transition: all 0.3s;
}

.hamburger span:nth-child(1) {
    top: 8px;
}

.hamburger span:nth-child(2) {
    top: 16px;
}

#hamburger:checked ~ .hamburger span:nth-child(1) {
    opacity: 0;
}

#hamburger:checked ~ .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    top: 6px;

}

#hamburger:checked ~ .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 6px;
}

/* nav menu */

.slidemenu {
    background-color: #fff;
    transform: translateX(100%);
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 4em;
    left: 0;
    padding-top: 1em;
    transition: all 0.6s ease-in;
    z-index: 999;
}

.slidemenu div a {
    text-decoration: none;
    text-align: center;
    font-family: "Kannada mn";
    font-weight: normal;
    font-size: 2em;
    color: var(--red);
}

.slidemenu .navLinks, .slidemenu .navButtons {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 2em;
}

.slidemenu a:hover {
    color: var(--red);
}